.book {
  position: relative;
  margin: 90px 0;
  &:before{
    content: '';
    position: absolute;
    left: 0;
    top: -97px;
    width: 100vw;
    height: 540px;
    background: linear-gradient(90deg, #A18CD1 0%, #FBC2EB 100%);
    z-index: 1;
    @media(max-width:1100px){
      top: -50px;
      height: 70%;
    }

  }
  &__container {
    padding: 94px 10px;
    position: relative;
    max-width: 1430px;
    min-height: 713px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
    @media(max-width: 1430px){
      max-width: 90%;
    }
    @media(max-width: 1024px){
      min-height: 500px;
    }
    @media(max-width: 768px){
      padding: 50px 10px;
      max-width: 90%;
      min-height: 100%;
    }
  
  }

  &__title {
    flex: 1 1 auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: auto;
    text-align: center;
    position: relative;
    z-index: 3;
    color: #fff;

    font-size: 48px;
    font-weight: 700;
    line-height: 140.4%; /* 67.392px */
    letter-spacing: -1.2px;
    @media(max-width: 768px){
      font-size: 40px;
    }
  }

  &__link {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 33px auto 0 auto;
    padding: 5px 70px;
    // width: 262px;
    min-height: 72px;
    background-color: #fff;
    border-radius: 50px;
    border: 2px solid #fff;

    &:hover{
      box-shadow: 0 0 25px rgba(100, 100, 200, .9);
      border: 2px solid #333;
    }
    a{
      font-size: 24px;
      font-weight: 600;
      letter-spacing: -0.6px;
      line-height: 72px;
    }
}
  &__img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }
}
