.questions {
  &__container {
    position: relative;
    height:1080px;
    width: 100%;
    @media(max-width: 768px){
      height: 600px;
    }
    @media(max-width: 450px){
      height: 400px;
    }
  }
  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      @media (max-width: 768px){
        object-position: left;
      }
      @media(max-width: 600px){
        object-position: center;
      }
    }
  }
  &__content{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 119px 0 127px 100px;
    @media(max-width: 1024px){
      padding: 20px 20px 60px 20px;
    }
    @media(max-width: 768px){
      padding: 10px 20px 60px 20px;
    }
    @media(max-width: 425px){
      padding: 10px 20px;
      align-items: center;
    }
  }

  &__title {
    font-size: 98px;
    font-weight: 600;
    max-width: 492px;
    letter-spacing: -2.454px;
    color: #FFF;
    @media(max-width: 768px){
      font-size: 68px;
    }
    @media(max-width: 500px){
      font-size: 40px;
    }
  }

  &__link {
      }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 16px;
    line-height: 72px;
    width: 261px;
    span{
      font-size: 24px;
      font-weight: 600;
      letter-spacing: -0.6px;
    }
    &:hover{
      box-shadow: 0 0 25px rgba(90, 56, 82, 0.9);
      color: $mainColor;
      transition: all 0.3s ease 0s;
    }
  }

 
}
.page {

  &__questions {
  }
}