$mainFont: 'Montserrat', sans-serif;
$secondFont: 'Inter', sans-serif;
$maxWidth: 1722px;
$mainColor: #3685fb;
$maxWidthSwitchBurger: 768px;
$burgerTextColor: $mainColor;
$burgerBgColor: rgba(255, 255, 255, .9);